@import "tailwindcss";

@theme {
  --color-brand-faint: #eff6ff;
  --color-brand-muted: #bfdbfe;
  --color-brand-subtle: #9ac0ff;
  --color-brand-default: #3b82f6;
  --color-brand-emphasis: #1d4ed8;
  --color-brand-inverted: #ffffff;

  --color-background-muted: #f9fafb;
  --color-background-subtle: #f3f4f6;
  --color-background-default: #ffffff;
  --color-background-emphasis: #374151;

  --color-border-default: #e2e8f0;
  --color-ring-default: #e2e8f0;

  --color-content-subtle: #9ca3af;
  --color-content-default: #6b7280;
  --color-content-emphasis: #374151;
  --color-content-strong: #111827;
  --color-content-inverted: #ffffff;
}

@layer base {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }

  body {
    color: rgb(var(--foreground-rgb));
    background: #f8fafc;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  button,
  .cursor-pointer {
    cursor: pointer !important;
  }
}