.menuBar {
  margin-right: 0.6rem;
  /* flex: 1 1 0; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.logo {
  margin-left: 0.6rem;
  height: 1.5rem;
  width: 6.88rem;
  display: block;
}

/* creating vertical menu list */
.menuList {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 3.5rem;
  width: 288px;
  right: -288px;
  padding: 24px 16px;
  transition: all 0.2s;
  min-height: calc(100vh - 3.5rem);
  background-color: white;
}

/* moving vertical menu list to the left */
.menuList.active {
  right: 0;
}

.navBar {
  height: 3.5rem;
  background-color: white;
  border-bottom: 1px solid rgba(80, 80, 80, 0.2);
}

.flexContainer {
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  flex: 1 1 0;
}

.menuContainer {
  flex: 3 1 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  flex: 1 1 0;
  display: none;
  justify-content: flex-end;
  align-items: center;
}

@media screen and (min-width: 768px) {

  /* creating horizontal menu list */
  .menuList {
    position: unset;
    flex-direction: row;
    min-height: fit-content;
    width: fit-content;
    column-gap: 0.5rem;
    padding-top: 1px;
    padding-bottom: 1px;
    align-items: center;
  }

  .menuBar {
    display: none;
  }

  .loginContainer {
    display: flex;
  }
}
