.button {
  border: none;
  color: white;
  text-decoration: none;
  /* display: flex; */
  font-size: 1rem;
  cursor: pointer;
  /* margin-top: 10px; */
  /* margin-bottom: 10px; */
  font-size: 1rem;
  margin-top: 1rem;
}

.primary {
  padding: 0.4rem 1rem;
  background-color: #238be6;
  box-shadow: 0px 0px 0.2rem grey;
  border-radius: 0.4rem;
}

.primary:hover {
  background-color: #1d7ed7;
}

.login {
  padding: 0.4rem;
  border: 0.08rem solid black;
  box-shadow: 0 0 1px 0px white inset, 0 0 1px 0px white;
  background-color: transparent;
  border-radius: 0.25rem;
  margin-right: 0.6rem;
}

.login:hover {
  background-color: rgba(80, 80, 80, 0.05);
}

.button:active {
  transform: scale(0.98);
}

.buttonWrapper {
  width: 100%;
  display: flex;
  align-items: center;
}